{% extends 'base.html' %}

{% block title %} Chute Virtual Laundromat {% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            var now = new Date();
            setInterval(function() {
                $.ajax({
                    url: '/api/laundromat/order/notification/' + now.toISOString() + '/',
                    method: 'GET',
                    success: function(data) {
                        if (data['notification'] === 0) {
                            $('.badge').text('');
                        } else {
                            $('.badge').text(data['notification']);
                        }
                    }
                })
            }, 3000)
        })

    </script>
{% endblock %}

{% block sidebar %}

    {% url 'laundromat-order' as laundromat_order_url %}
    {% url 'laundromat-service' as laundromat_service_url %}
    {% url 'laundromat-report' as laundromat_report_url %}
    {% url 'laundromat-account' as laundromat_account_url %}

    <div class="text-center">
      <img class="img-circle" src="{{ MEDIA_URL }}{{ request.user.laundromat.logo }}"
          width="70" height="70" />
      <br/>
      <br/>
      <h4>Hi, {{ request.user.get_full_name }}</h4>
      <h5>{{ request.user.laundromat.name }}</h5>
    </div>

    <div class="list-group">
      <span class="text-uppercase">Dashboard</span>

      <a href="{% url 'laundromat-order' %}"
          class="list-group-item {% if request.path == laundromat_order_url %} active {% endif %} ">
          Orders
          <span class="badge"></span>
      </a>
      <a href="{% url 'laundromat-service' %}"
          class="list-group-item {% if request.path == laundromat_service_url %} active {% endif %} ">Services</a>
      <a href="{% url 'laundromat-report' %}"
          class="list-group-item {% if request.path == laundromat_report_url %} active {% endif %} ">Reports</a>

      <span class="text-uppercase">Profile</span>
      <a href="{% url 'laundromat-account' %}"
          class="list-group-item {% if request.path == laundromat_account_url %} active {% endif %} ">Account</a>
    </div>

    <div class="text-center">
      <a href="{% url 'laundromat-sign-out' %}?next={{ request.path }}"
          class="btn btn-pink">Logout</a>
    </div>

{% endblock %}
